<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab11-2</title>

    <style>
        th {
            /* width: 100px; */
            /* border-style: solid; */
            border: solid 1px;
        }

        table {
            /* border: solid; */
            border-collapse: collapse;
        }

        button {
            background-color: lightgreen;
            border: none;
            padding: 12px 20px;
            border-radius: 5px;
            font-size: 20px;
        }
    </style>
</head>

<body>
    <h1>Todos List</h1>
    <a href="/createTodos">
        <button>Add Todo</button>
    </a>
    <br>
    <br>

    <table>
        <thead>
            <tr style="background-color: lightgray;">
                <th style="width: 50px;">ID</th>
                <th style="width: 100px;">Title</th>
                <th style="width: 100px;">Deadlines</th>
                <th style="width: 100px;">Completed</th>
            </tr>
        </thead>
        <tbody>

            <% data.forEach(element=> { %>
                <tr>
                    <td><%=element.id%></td>
                    <td><%=element.title%></td>
                    <td><%=element.deadline%></td>
                    <!-- <td>
                        <form action="/<%= element.id %>" method="POST">
                            <input type="checkbox" name="completed" value="1" <%=element.completed ? 'checked' : '' %>
                            onchange="this.form.submit()">
                        </form>
                    </td> -->
                    <td><input type="checkbox"></td>
                </tr>

            <% }); %>
        </tbody>
    </table>
</body>

</html>