<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            display: flex;
            /* justify-content: center; */
            flex-direction: column;
            align-items: center;
            margin-top: 20%;
        }
    </style>
</head>

<body>
    <div>
        <p>ID: <%= data.id %></p>
        <p>First Name: <%= data.first_name %></p>
        <p>Last Name: <%= data.last_name %></p>
        <p>Username: <%= data.username %></p>
        <p>Email: <%= data.email %></p>
        <p>
            <a href="/">
                back to user list
            </a>
        </p>
    </div>
    

</body>

</html>