<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>email</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach((item)=>{ %>
                <form action="/datashow/<%= item.id %>" method="GET">
                <tr>
                    <td>
                        <%=item.id%>
                    </td>
                    <td>
                        <%=item.first_name%>
                    </td>
                    <td>
                        <%=item.last_name%>
                    </td>
                    <td>
                        <%=item.username%>
                    </td>
                    <td>
                        <%=item.email%>
                    </td>
                    <td>
                        <!-- <input type="submit"> -->
                         <button>show data</button>
                    </td>
                </tr>
            </form>

                <% }); %>

        </tbody>

    </table>

</body>

</html>