<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab11-1</title>

    <style>
        div {
            margin: 10%;
        }

    </style>
</head>

<body>
    <h1>List of Countries</h1>

    <% data.forEach((item)=>{ %>

        <div>
            <img src="http://10.0.15.21:8000/<%=item.flag%>" alt="flag">
            <h3><%=item.name%></h3> 
            <p>Capital: <%=item.capital%></p> 
            <p>Population: <%=item.population%></p>
            <p>Region: <%=item.region%></p> 
            <p>latlng: <%=item.latlng%></p>
            <p>borders: <%=item.borders%></p>
        </div>

    <% }); %>
</body>

</html>
